@import url("https://fonts.googleapis.com/css2?family=Glory:wght@300&family=Roboto:wght@300;700&display=swap");

:root {
  --primary-color: #27ae60;
  --secondary-color: black;
  --dark-color: #333;
  --light-color: #444;
  --grey-color: #ddd;
  --pending-color: #d4ac0d;
  --rte-color: #2980b9;
  --font-family: "Glory", sans-serif;
  --box-shadow: #222 0px 8px 24px;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  /* overflow: scroll; */
}
hr {
  height: 2px;
  border-width: 0;
  color: var(--dark-color);
  background-color: var(--dark-color);
  opacity: 0.5;
}
h2 {
  color: var(--primary-color);
  margin: 20px;
}

/* img {
  border-radius: 5px;
  height: 50px;
} */

body {
  font-family: var(--font-family);
  background: var(--light-color);
  padding-bottom: 30px;
  overflow-y: scroll;
  /* padding: 30px 20px; */
}
li {
  list-style: none;
}

a {
  text-decoration: none;
}

li a {
  margin: 5px;
  padding: 2px;
  font-size: 30px;
}

.primary-color {
  color: var(--primary-color);
  /* color: var(--dark-color); */
}

.err {
  background: white !important;
  color: red !important;
  border: red 1px solid;
}

.primary-txt-color {
  color: var(--primary-color);
}

.bg-light {
  background: var(--light-color);
}
.align-center {
  text-align: center;
}
.bg-dark {
  background: var(--dark-color);
}

.header {
  position: sticky;
  top: 0;
  z-index: 10;
}
.style-link {
  font-size: 20px;
  color: var(--primary-color);
}

select option:hover {
  background: green;
}

.header-content {
  display: grid;
  grid-template-columns: 2fr 4fr 6fr;
  /* margin: 10px; */
  background: var(--light-color);
  padding: 5px 0px;
  box-shadow: 2px 0px 5px var(--dark-color);
}

.logo {
  color: var(--primary-color);
  height: 50px !important;
  /* padding: 4px; */
  /* box-shadow: var(--box-shadow); */
  /* background: var(--dark-color); */
  border-radius: 5px;
  padding-left: 20px;
}

.header-page-items,
.contact-content {
  padding: 0px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contact-content {
  justify-self: end;
}
.header-page-items a {
  color: var(--primary-color);
  padding: 5px;
  border-radius: 5px;
  font-size: 18px;
}

.header-page-items a:hover {
  animation: liitems 0.5s;
  animation-fill-mode: forwards;
}

@keyframes liitems {
  from {
    background: var(--light-color);
  }
  to {
    /* background: var(--dark-color); */
    background: var(--primary-color);
    color: white;
  }
}

.showcase {
  height: 20rem;
  background: var(--dark-color);
  position: relative;
  /* box-shadow: inset 2px 2px 10px #000; */
}

.shocase-content::before {
  content: "";
  background: url("./logo/cube.png") no-repeat center center/cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  z-index: 0;
}

.container {
  margin-left: 0 100px;
  padding: 15px 30px;
  background: var(--light-color);
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: auto auto auto auto;
}

.box {
  background: var(--dark-color);
  color: var(--primary-color);
  height: 8rem;
  width: 12rem;
  margin: 30px 0px;
  border-radius: 5px;
  padding: auto;
  text-align: center;
  font-weight: bold;
  justify-content: center;
  align-items: center;
  text-align: center;
  cursor: pointer;
}
.box:hover {
  border: 1px solid var(--dark-color);
  /* color: var(--light-color); */
  animation: boxitems 0.5s;
  animation-fill-mode: forwards;
}

@keyframes boxitems {
  from {
    background: var(--dark-color);
  }
  to {
    background: var(--dark-color);
    box-shadow: var(--box-shadow);
  }
}

.box-content {
  margin-top: 15px;
}

.box-content p {
  background: transparent;
  margin: 10px 0px;
  font-size: 20px;
}

.container div i {
  font-size: 50px;
  /* margin: auto; */
}

/* New Student */

/* .container-current-page {
  margin: 20px; 
} */
.student-form {
  background: var(--light-color);
  height: auto;
  width: 100%;
  padding: 20px;
}
.student-form {
  display: grid;
  /* flex-wrap: wrap; */
  grid-template-columns: repeat(2, auto);
  /* grid-gap: 10px; */
}

.student-form div {
  height: 100%;
  width: 350px;
  margin: 20px 0px;
}

.student-form input,
.student-form textarea,
.student-form select {
  font-family: var(--font-family);
  background: var(--grey-color);
  color: var(--dark-color);
  outline: none;
  border-radius: 5px;
  font-weight: bold;
  border: 2px solid var(--primary-color);
  padding: 5px;
  width: 200px;
  font-size: 15px;
  float: right;
}

option:focus {
  background: red;
  color: #fff;
  outline: 1px solid green;
}

.student-form label {
  font-size: 20px;
  color: var(--primary-color);
}

.profile-photo {
  display: flex;
  padding: 20px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.submit__status {
  display: none;
}
.student-form-container {
  align-items: center;
  justify-items: center;
  text-align: center;
  z-index: 0;
}

.student-form-container h2 {
  background: var(--light-color);
  color: var(--primary-color);
  font-weight: bold;
  text-align: center;
  padding: 5px;
}

.student-form-container div p {
  margin: 5px 0;
}

.student-form-container button,
.btn {
  background: var(--primary-color);
  color: var(--grey-color);
  padding: 5px;
  border-radius: 5px;
  width: max-content;
  font-size: 15px;
  border: 1px solid var(--light-color);
  cursor: pointer;
}
.student-form-container button:hover,
.btn:hover {
  animation: buttonhover 0.5s;
  animation-fill-mode: forwards;
}

.student-form-container button:active,
.btn:active {
  color: var(--dark-color);
}
@keyframes buttonhover {
  from {
  }
  to {
    background: var(--light-color);
    color: var(--grey-color);
    box-shadow: var(--box-shadow);
  }
}

.overlay {
  position: fixed;
  background: var(--dark-color);
  opacity: 0.6;
  height: 100%;
  width: 100%;
  backdrop-filter: blur(2px);
  top: 0;
  left: 0;
  opacity: 0;
  z-index: -10;
}

.popup {
  position: fixed;
  top: 20%;
  left: 20%;
  height: 350px;
  width: 500px;
  background: var(--dark-color);
  z-index: -10;
  border-radius: 5px;
  color: var(--primary-color);
  /* padding: 25px 5px; */
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  box-shadow: var(--box-shadow);
  opacity: 0;
}

.popup .student__type {
  display: flex;
  align-items: center;
  /* justify-items: center; */

  margin: 0;
}

#student_type_regular,
#student_type_RTE {
  color: var(--grey-color);
  background: var(--dark-color);
  margin: 10px;
  padding: 2px;
  border: 1px solid var(--primary-color);
  cursor: pointer;
}
.popup > .student__type > div > input[type="radio"] {
  /* margin: 5px 0px; */
  /* padding: 2px; */
  width: auto;
}
.popup .student__type input[type="radio"]:checked + * {
  color: var(--primary-color);
}

.popup div div label {
  font-family: var(--font-family);
  background: var(--primary-color);
  color: var(--grey-color);
  outline: none;
  border-radius: 5px;
  font-weight: bold;
  border: 2px solid var(--primary-color);
  padding: 2px;
  margin: 10px 10px;
  width: 100px;
  font-size: 14px;
  float: left;
}
.popup div input[type="text"] {
  font-family: var(--font-family);
  background: var(--grey-color);
  color: var(--dark-color);
  outline: none;
  border-radius: 5px;
  font-weight: bold;
  border: 2px solid var(--primary-color);
  padding: 2px;
  margin: 10px 0px;
  width: 100px;
  font-size: 14px;
}

.popup div p {
  font-family: var(--font-family);
  background: var(--primary-color);
  width: auto;
  color: var(--grey-color);
  display: inline-block;
  font-weight: bold;
  padding: 5px;
  margin: 10px;
  border-radius: 5px;
}

.popup .close-btn {
  color: var(--grey-color);
  position: absolute;
  right: 0;
  top: 0;
  margin: 0;
  height: 20px;
  width: 20px;
  font-size: auto;
  font-weight: bold;
  /* transform: translate(0%, -15%); */
  cursor: pointer;
  opacity: 0.7;
}
.pymt-window-msg {
  opacity: 0;
}

.msg {
  /* box-shadow: var(--box-shadow); */
  animation: msgdisplay 0.5s;
  animation-fill-mode: forwards;
}

@keyframes msgdisplay {
  0% {
    font-size: 0px;
  }
  50% {
    font-size: 20px;
  }
  100% {
    font-size: 18px;
  }
}

.fa-spinner {
  animation-name: spinner;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

@keyframes spinner {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* students.html */
.classes-list li {
  display: flex;
  /* padding: 20px; */
  /* flex-wrap: wrap; */
}

.students-content {
  display: flex;
  flex-wrap: wrap;
  /* flex-direction: row; */
}

.students__container {
  padding: 30px;
}
.students__container .search label {
  margin-right: 10px;
  color: var(--primary-color);
  font-weight: bolder;
}
.students__container .search input {
  border-radius: 5px;
  outline: none;
  border: none;
  padding: 5px;
  font-family: var(--font-family);
  font-size: 15px;
  color: var(--dark-color);
  font-weight: bolder;
}
.classes-list li ul {
  border-radius: 5px;
  background: var(--dark-color);
  color: var(--grey-color);
  border: 1px solid var(--dark-color);
  margin: 20px 20px 20px 0px;
  text-align: center;
  width: 100px;
  padding: 10px;
  cursor: pointer;
}

.classes-list li .current {
  background: var(--primary-color);
  border: none;
}

.student-info {
  text-align: center;
  width: 250px;
  border-radius: 5px;
  padding: 10px;
  margin: 20px 20px;
  background: var(--dark-color);
  height: auto;
  box-shadow: var(--box-shadow);
  animation: student_info_display 1s;
  animation-fill-mode: forwards;
}

@keyframes student_info_display {
  from {
    opacity: 0.5;
    /* height: 0; */
  }
  to {
    opacity: 1;
    /* height: auto; */
  }
}

.done {
  border-top: 5px solid var(--primary-color);
}

.pending {
  border-top: 5px solid var(--pending-color);
}

.rte {
  border-top: 5px solid var(--rte-color);
}

/* .student-info img {
  height: 70%;
} */

/* .mask {
  position: relative;
} */

.mask img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  object-position: top;
  border-radius: 50%;
}
.student__info__details {
  margin: 10px 0px;
}
.student__info__details p {
  color: var(--grey-color);
  font-weight: bold;
  font-size: large;
}

.student-info .info-btns {
  padding: 5px;
}
.student-info__profile {
  padding: 15px;
  display: grid;
  grid-template-columns: 5fr 5fr 5fr 5fr;
  text-align: center;
  align-items: center;
  justify-items: center;
}
.student-info__profile img {
  height: 150px;
  border-radius: 5px;
}

.student-details-container {
  display: grid;
  grid-template-columns: 6fr 2fr;
}
.student-details {
  padding: 15px;
  background: var(--light-color);
}
.student-details h2 {
  color: var(--primary-color);
  margin: 5px 0px;
}

.student-details div {
  display: grid;
  grid-template-columns: 2fr 2fr;
}

.student-details div div {
  display: flex;
  /* border: 2px solid var(--primary-color); */
  border-radius: 5px;
  width: max-content;
  padding: 0px 2px;
  margin: 10px;
}
.student-details div div label,
.student-details div div p {
  font-weight: bold;
  font-size: 18px;
  color: var(--grey-color);
  width: auto;
  padding: 2px;
  margin: 5px 0px;
  text-align: left;
  width: 2 00px;
}

.student-details div div label {
  color: var(--primary-color);
  display: inline-block;
  width: 200px;
}
/* .student-details div p {
  text-align: right;
} */

.student-details-performance {
  background: var(--light-color);
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.student-details-performance button {
  font-size: 15px;
  margin: 10px 0px;
}

.student-scoreboard {
  padding: 20px;
}

.student-scoreboard .skill {
  width: 160px;
  height: 160px;
  position: relative;
}

.student-scoreboard .inner {
  height: auto;
  width: auto;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.student-scoreboard #number {
  font-weight: 600;
  color: #555;
  display: flex;
}
.student-scoreboard circle {
  fill: none;
  stroke: url(#GradientColor);
  stroke-width: 20px;
  stroke-dasharray: 472;
  stroke-dashoffset: 472;
  animation: anim_progressbar 1s linear forwards;
}
@keyframes anim_progressbar {
  100% {
    stroke-dashoffset: 165;
  }
}
.student-scoreboard svg {
  position: absolute;
  top: 0;
  left: 0;
}
